<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h2>SpringBoot Thymeleaf</h2>
    <br>
    <!--取值 -->
    <h3>Thymeleaf test</h3>
    <p th:text="${hello}">打底值</p>

    <!--循环-->
    <p th:each="str:${list}" th:text="${str}"></p>
    <br>
    <!--判断-->
    <p th:if="1==2">我是存在的</p>
    <input type="checkbox" th:checked="${check}=='0'"/>

    <a th:href="'javascript:a(\''+${hello}+'\');'">点我</a>
    <a href="javascript:a('abc');">点击我123</a>

    <!--页面引入-->
    <div th:include="indexInner::innerPart">被引入页面</div>
    <!--传值给javascript-->
<script language="JavaScript">
    function a(hello) {
        alert("Js 函数被调用"+hello);
    }
</script>
</body>
</html>